*{
    box-sizing: border-box !important;
    padding: 0% !important;
    margin: 0% !important;
}
body{
    background-color: #7FFFD4 !important;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}
.flex{
    display: flex;
    align-items: center;
    font-size: 2rem !important;
}
main{
    background-color: #7FFFD4;
    padding-top: 200px !important;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto !important;
    background-color: #7FFFD4;
    height: 500px;
}
div#container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid;
    cursor: pointer;
}
button{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    margin-right: 2rem !important;
    padding: 1.7rem !important;
    border-radius: 20px !important;
    font-size: 1.4rem !important;
}
button:active{
    background-color: #e7e7e7;
}
span{
    margin-left: 10px;
}
div#container .box.onclick{
    background-color:#7FFFD4;
}
div#container .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid;
    cursor: pointer;
}
div#container .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid;
    cursor: pointer;
}
div#container .box1.onclick{
    background-color:#7FFFD4;
}
div#container .box2.onclick{
    background-color:#7FFFD4;
}